
<mat-toolbar class="display-flex">
  <span>{{clientsService.form.controls['id'].value?"Edit Client":"New Client"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup] = 'clientsService.form'
(ngSubmit) = 'onSubmit()'>
<mat-card class="register-card">
  <mat-dialog-content>
  <mat-card-content>
  <!-- <mat-error *ngIf="clientsService.hasServerError">{{clientsService.serverError}}</mat-error> -->

  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile [colspan]= "2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Client Name</mat-label>
        <input matInput
              type="text"
              name="clientName"
              formControlName="clientName"
              placeholder="Enter client name"
              required/>
        <mat-error *ngIf="clientsService.form.controls.clientName.errors?.required">
          Client name is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Client Type</mat-label>
        <mat-select
                formControlName="clientType"
                name ="clientType">
          <mat-option
            *ngFor="let type of ClientTypes"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Client Status</mat-label>
        <mat-select
                formControlName="clientStatus"
                name ="clientStatus">
          <mat-option
            *ngFor="let type of ClientStatuses"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">National ID</mat-label>
        <input matInput
              type="text"
              name="nationalId"
              formControlName="nationalId"
              placeholder="Enter National ID" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">PIN</mat-label>
        <input matInput
              type="text"
              name="pin"
              formControlName="pin"
              placeholder="Enter PIN" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Email</mat-label>
        <input matInput
              type="email"
              name="email"
              formControlName="email"
              autocomplete="on" />
        <mat-error *ngIf="clientsService.form.controls.email.errors?.email">
          Invalid email
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <app-spinner></app-spinner>

    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Phone Number</mat-label>
        <input matInput
              type="tel"
              name="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Enter client's phone number" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Alt Phone Number</mat-label>
        <input matInput
              type="tel"
              name="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Enter client's alternative phone no" />
      </mat-form-field>
    </mat-grid-tile>
    <!-- Individual -->
  <div *ngIf="clientsService.form.controls.clientType.value === 0">
    <mat-grid-tile>
      <!-- <mat-radio-group formControlName="gender" class="radio-form-control">
        <mat-label class="mat-label">Gender &nbsp;</mat-label>
        <mat-radio-button value="0">Female</mat-radio-button>
        <mat-radio-button value="1">Male</mat-radio-button>
      </mat-radio-group> -->
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Gender</mat-label>
        <mat-select
                formControlName="gender"
                name ="maritalStatus">
          <mat-option
            *ngFor="let type of Genders"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Marital Status</mat-label>
        <mat-select
                formControlName="maritalStatus"
                name ="maritalStatus">
          <mat-option
            *ngFor="let type of MaritalStatuses"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateofBirth" name ="dateofBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

  </div>

    <mat-grid-tile [colspan] ="2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Address</mat-label>
        <input matInput
              type="text"
              name="address"
              formControlName="address"
              placeholder="Enter address" />
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan] ="2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Details</mat-label>
        <textarea matInput
                  name="details"
                  formControlName="details"
                  placeholder="Enter details">

        </textarea>
      </mat-form-field>
    </mat-grid-tile> -->
  </mat-grid-list>






  </mat-card-content>
</mat-dialog-content>
  <mat-card-actions class="form-actions">
    <button mat-raised-button
            (click)="onClose()"
            class="btn-form-actions btn-form-actions-cancel">
            Cancel
    </button>

    <button mat-raised-button
            type="submit"
            class="btn-form-actions"
            color = 'primary'>
            Save
    </button>
  </mat-card-actions>
</mat-card>
</form>

