

<section class="page-body">
  <div class="register-card-container">
    <form [formGroup] = 'formGroup'
          (ngSubmit) = 'submitForm(formGroup.value)'>
      <mat-card class="register-card">
        <mat-card-header class="register-card-header">
          <div mat-card-avatar class="register-header-image"></div>
          <mat-card-title class="orange-text">{{constants.applicationName}}</mat-card-title>
          <mat-card-title class="orange-text">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Email</mat-label>
            <input matInput
                  type="email"
                  name="email"
                  formControlName="email"
                  autocomplete="on"/>
            <!-- <mat-hint>Sum of basic salary and allowances</mat-hint>-->
            <mat-error *ngIf="formGroup.controls.email.invalid">{{getEmailErrors()}}</mat-error>
          </mat-form-field>

          <app-spinner></app-spinner>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Password</mat-label>
            <input matInput
                  type="password"
                  name="password"
                  formControlName="password"
                  placeholder="Minimum 8 characters"
                  required>
            <mat-error *ngIf="formGroup.controls.password.invalid">
              {{getPasswordErrors()}}
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions class="register-footer">
          <button mat-flat-button
                  type="submit"
                  class="btn-orange-large">
                  Sign In
          </button>
          <div class="signing-options">
            <div class="signing-option-register">
              <a [routerLink]="'/register'">Register</a>
            </div>
            <div class="signing-option-password">
              <a [routerLink]="'/forgotPassowrd'">Forgot password</a>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

</section>

