
.register-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
}
.register-card {
  max-width: 350px;
  min-width: 250px;
}

@media screen and (max-width: 600px) {
  .register-card {
    box-shadow: none;
  }
}


.register-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register-header-image {
  background-image: url('/assets/icons/icon-96x96x.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}

.full-width-field {
  width: 100%;
}

.orange-text {
  color: #4b82ff !important;
}

.mat-card-subtitle {
  color: rgba(0,0,0,0.8);
}

.btn-orange-large {
  color: rgb(255, 255, 255);
  background-color:#4b82ff;
  width: 90%;
  margin-bottom: 20px;
}

.register-footer{
  text-align: center;
}

.register-terms{
  padding-top: 10%;
  color: rgba(0,0,0,.4);
  text-align: center;
}

a {
  color: #4b82ff;
  text-decoration: none;
}

.signing-options {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;
}

.signing-option-register {
  float: left;
}

.signing-option-password {
  float: right;
}
