
<section class="page-body">
  <div class="register-card-container">
    <form [formGroup] = 'formGroup'
          (ngSubmit) = 'submitForm()'>
      <mat-card class="register-card">
        <mat-card-header class="register-card-header">
          <div mat-card-avatar class="register-header-image"></div>
          <mat-card-title class="orange-text">{{constants.applicationName}}</mat-card-title>
          <mat-card-title>Forgot Your Password?</mat-card-title>
          <mat-card-subtitle>
            Please enter the email address you'd like your password reset information sent to.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Email</mat-label>
            <input matInput
                  type="email"
                  name="email"
                  formControlName="email"
                  autocomplete="on"/>
            <!-- <mat-hint>Sum of basic salary and allowances</mat-hint>-->
            <mat-error *ngIf="formGroup.controls.email.invalid">{{getEmailErrors()}}</mat-error>
          </mat-form-field>

          <app-spinner></app-spinner>

        </mat-card-content>
        <mat-card-actions class="register-footer">
          <button mat-flat-button
                  type="submit"
                  class="btn-orange-large">
                  Send
          </button>
          <div class="signing-options">
            <div class="signing-option-register">
              <a [routerLink]="'/login'">Back to Login</a>
            </div>
            <div class="signing-option-password">

            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

</section>
