
<mat-toolbar class="display-flex">
  <span>{{agentsService.form.controls['id'].value?"Edit Agent":"New Agent"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup] = 'agentsService.form'
(ngSubmit) = 'onSubmit()'>
<mat-card class="register-card">
  <mat-dialog-content>
    <mat-card-content>

      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Full Name</mat-label>
        <input matInput
              type="text"
              name="fullName"
              formControlName="fullName"
              placeholder="Enter agent fullname"
              required/>
        <mat-error *ngIf="agentsService.form.controls.fullName.errors?.required">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-field"
        *ngIf="!agentsService.form.controls['id'].value">
        <mat-label class="mat-label">Email</mat-label>
        <input matInput
              type="email"
              name="email"
              formControlName="email"
              autocomplete="on"/>
        <mat-error *ngIf="agentsService.form.controls.email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="agentsService.form.controls.email.errors?.email">
          Invalid email
        </mat-error>
      </mat-form-field>

      <app-spinner></app-spinner>

      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Phone Number</mat-label>
        <input matInput
              type="text"
              name="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Enter phone number" />
      </mat-form-field>


      </mat-card-content>
  </mat-dialog-content>

  <mat-card-actions class="form-actions">
    <button mat-raised-button
            (click)="onClose()"
            class="btn-form-actions btn-form-actions-cancel">
            Cancel
    </button>

    <button mat-raised-button
            type="submit"
            class="btn-form-actions"
            color = 'primary'>
            Save
    </button>
  </mat-card-actions>
</mat-card>
</form>
