<form [formGroup] = 'workspaceService.smsForm'
(ngSubmit) = 'onSubmit()'>
 <mat-card class="register-card">
   <mat-dialog-content>
     <mat-card-content>

       <mat-form-field class="full-width-field">
         <mat-label class="mat-label">Phone Number</mat-label>
         <input matInput
               type="tel"
               name="phoneNumber"
               formControlName="phoneNumber"
               placeholder="Phone Number"
               required/>
         <mat-error *ngIf="workspaceService.smsForm.controls.phoneNumber.errors?.required">
           Phone number is required
         </mat-error>
       </mat-form-field>

       <mat-form-field class="full-width-field">
         <mat-label class="mat-label">Message</mat-label>
         <textarea matInput
                   name="message"
                   formControlName="message"
                   placeholder="Enter SMS">

         </textarea>
         <mat-hint>
           Enter test message
         </mat-hint>
       </mat-form-field>
      </mat-card-content>
   </mat-dialog-content>

   <mat-card-actions class="form-actions">
     <button mat-raised-button
             type="submit"
             class="btn-form-actions"
             color = 'primary'>
             Send Test
     </button>
   </mat-card-actions>
 </mat-card>
 </form>
