<form [formGroup] = 'workspaceService.emailForm'
(ngSubmit) = 'onSubmit()'>
 <mat-card class="register-card">
   <mat-dialog-content>
     <mat-card-content>

       <mat-form-field class="full-width-field">
         <mat-label class="mat-label">Email</mat-label>
         <input matInput
               type="email"
               name="email"
               formControlName="email"
               placeholder="Email"
               required/>
         <mat-error *ngIf="workspaceService.emailForm.controls.email.errors?.required">
          Email is required
         </mat-error>
         <mat-error *ngIf="workspaceService.emailForm.controls.email.errors?.email">
          Invalid email
         </mat-error>
       </mat-form-field>

       <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Email subject</mat-label>
        <input matInput
              type="text"
              name="emailSubject"
              formControlName="emailSubject"
              placeholder="Enter email subject" />
       </mat-form-field>

       <mat-form-field class="full-width-field">
         <mat-label class="mat-label">Message</mat-label>
         <textarea matInput
                   name="emailMessage"
                   formControlName="emailMessage"
                   placeholder="Enter message">

         </textarea>
         <mat-hint>
          Enter message
         </mat-hint>
       </mat-form-field>
      </mat-card-content>
   </mat-dialog-content>

   <mat-card-actions class="form-actions">
     <button mat-raised-button
             type="submit"
             class="btn-form-actions"
             color = 'primary'>
             Send Test
     </button>
   </mat-card-actions>
 </mat-card>
 </form>
