
<mat-toolbar class="display-flex">
  <span>{{productService.form.controls['id'].value?"Edit Product":"New Product"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup] = 'productService.form'
(ngSubmit) = 'onSubmit()'>
<mat-card class="register-card">
  <mat-dialog-content>
    <mat-card-content>

      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Product Name</mat-label>
        <input matInput
              type="text"
              name="name"
              formControlName="name"
              placeholder="Enter product name"
              required/>
        <mat-error *ngIf="productService.form.controls.name.errors?.required">
          Name is required
        </mat-error>
      </mat-form-field>

      <app-spinner></app-spinner>

      </mat-card-content>
  </mat-dialog-content>

  <mat-card-actions class="form-actions">
    <button mat-raised-button
            (click)="onClose()"
            class="btn-form-actions btn-form-actions-cancel">
            Cancel
    </button>

    <button mat-raised-button
            type="submit"
            class="btn-form-actions"
            color = 'primary'>
            Save
    </button>
  </mat-card-actions>
</mat-card>
</form>
