
<section class="footer">
  <div class="social-sites-sections">
    <ul class="list-inline">
        <li>
            <a href="https://www.facebook.com/witsoft.co.ke"
               target="_blank">
               <img src="assets/icons/socialmedia/facebook-icon.png"
                alt="facebook icon">
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com"
               target="_blank">
               <img src="assets/icons/socialmedia/twitter-icon.png"
                alt="twitter icon">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/5202127"
               target="_blank">
               <img src="assets/icons/socialmedia/linkedin-icon.png"
               alt="linkedin icon">
            </a>
        </li>
    </ul>
  </div>

  <div class="site-footer">
    <a href="/terms/">
        Terms of Use
    </a>
    <a href="/privacy/">
        Privacy Policy
    </a>
    Witsoft Ltd &copy; Copyright 2020.
  </div>
</section>
