.social-sites-sections {
  text-align: center;
}

.social-sites-sections > ul {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  display: inline-flex;
}


.site-footer {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #1c4561;
  font-family: proxima-nova,Avenir,Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.site-footer > a {
  color: #1c4561;
  padding-right: 10px;
  text-decoration: none;
}

.site-footer > a:hover {
    text-decoration: underline;
}
