
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    (click)="toggleSideNav(drawer)">
    <mat-toolbar class="side-nav-header">
      <a [routerLink]="'/'">
        <img src="/assets/icons/icon-96x96x.png"
        alt="Logo image"
        class="logo">
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="''">
        <mat-icon>account_balance</mat-icon> &nbsp;
        {{currentUserValue.workSpaces[0].name}}
      </a>
      <mat-divider></mat-divider> -->
      <a mat-list-item [routerLink]="'policies'">
        <mat-icon>account_balance_wallet</mat-icon> &nbsp;
        Policies
      </a>
      <a mat-list-item [routerLink]="'clients'">
        <mat-icon>group</mat-icon> &nbsp;
        Clients
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item
        [routerLink]="'agents'"
        *ngIf = "currentUserValue.workSpaces[0].workSpaceType == 1">
        <mat-icon>group</mat-icon> &nbsp;
        Agents
      </a>
      <a mat-list-item [routerLink]="'products'">
        <mat-icon>verified_user</mat-icon> &nbsp;
        Products
      </a>
      <a mat-list-item [routerLink]="'companies'">
        <mat-icon>location_city</mat-icon> &nbsp;
        Companies
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'reports'">
        <mat-icon>assignment</mat-icon> &nbsp;
        Reports
      </a>
    </mat-nav-list>
</mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) || !drawer.opened">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Agents Journal</span>

        <span class="menu-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  (click) = onEditWorkspace()>
            <mat-icon>settings</mat-icon>
            <span>Work Space</span>
          </button>
          <button mat-menu-item [routerLink]="'./forgotPassowrd'">
            <mat-icon>settings_backup_restore</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item
                  (click) = logout()>
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="page-container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
