.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.side-nav-header {
  border-bottom: 1px solid black;
  justify-content: center;
}

.logo {
  padding-top: 15px;
  height: 80px;
  border-radius: 50%;

}

.menu-spacer {
  flex: 1 1 auto;
}

.page-container {
  padding: 20px;
}
