.register-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-card {
  max-width: 350px;
}


.register-header-image {
  background-image: url('/assets/images/email.png');
  background-size: cover;
  margin-bottom: 15px;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 600px) {
  .register-card {
    box-shadow: none;
  }
}

.register-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

mat-card-title {
  font-size: 16px;
}

.mat-card-subtitle {
  color: rgba(0,0,0,.74);
}
