<app-menu></app-menu>

<div class="register-card-container">
  <mat-card class="register-card">
    <mat-card-header class="register-card-header">
      <div mat-card-avatar class="register-header-image"></div>
      <mat-card-title class="orange-text">{{userModel.fullName}}, check your inbox</mat-card-title>
      <mat-card-subtitle>Confirm your email address, {{userModel.email}}, to continue</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<app-footer></app-footer>
