/* You can add global styles to this file, and also import other style files */

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-label {
  /* color: rgba(0,0,0,.84); */
  font-size: 18px;
}

/* general */
.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-top-5 {
  margin-right: 5px;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #E30B0B;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
}

/* Dialog forms max-width: 95vw;*/
.form-dialog-container {
  max-width: 450px !important;
}

.form-dialog-container-mobile {
  max-width: 95vw !important;
}


.display-flex {
  display: flex;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.btn-dialog-close {
  width: 45px !important;
  min-width: 0px !important;
  height: 40px !important;
  padding: 0px !important;
}

.full-width-field {
  width: 100%;
}

.form-actions {
  text-align: center;
}

.btn-form-actions {
  margin: 10px !important;
  width: 30% !important;
}

.btn-form-actions-cancel {
  background-color: #b6bece;
  color:white;
}

/* list forms */
.list-page-header {
  padding-bottom: 5px;
}

.search-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  width: auto;
}

/* table */
.th-center{
  justify-content: center;
}
.th-left{
  justify-content: flex-start;
}
.th-right{
  justify-content: flex-end;
}

.w-75{
  width: 75px;
  flex: none;
}

.w-100{
  width: 100px;
  flex: none;
}

.search-form-field{
  margin-left: 10px;
  padding: 5px 10px;
  /* background-color: #f5f5f5; */
  border-radius: 5px;
  width: 90%;
}
  .search-form-field div.mat-form-field-underline {
      display: none;
  }

  .search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button{
      height: 32px;
      width: 32px;
  }

  .hide{
    display: none;
  }

  /* mat-table */
  mat-footer-row mat-footer-cell{
      justify-content: center;
      font-style: italic;
  }

  .page-header-actions {
    display: flex;
  }

  .page-filter-action {
    flex: 1 1 auto;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .right-aligned-input {
    text-align: right !important;
  }
