<section class="register-form">
  <div class="register-card-container">
    <form [formGroup] = 'registerForm'
          (ngSubmit) = 'submitForm(registerForm.value)'>
      <mat-card class="register-card">
        <mat-card-header class="register-card-header">
          <div mat-card-avatar class="register-header-image"></div>
          <mat-card-title class="orange-text">Get Started with Agency Journal</mat-card-title>
          <mat-card-subtitle class="subtitle">Sign up for a free 14 day trial</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-error *ngIf="hasServerError">{{serverError}}</mat-error>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Full name</mat-label>
            <input matInput
                  type="text"
                  name="fullName"
                  formControlName="fullName"
                  placeholder="Enter your full name"
                  required/>
            <mat-error *ngIf="registerForm.controls.fullName.invalid">
              {{getFullNameErrors()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Email (User ID)</mat-label>
            <input matInput
                  type="email"
                  name="email"
                  formControlName="email"
                  autocomplete="on"/>
            <mat-error *ngIf="registerForm.controls.email.invalid">{{getEmailErrors()}}</mat-error>
          </mat-form-field>

          <app-spinner></app-spinner>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Password</mat-label>
            <input matInput
                  type="password"
                  name="password"
                  formControlName="password"
                  placeholder="Minimum 8 characters"
                  required>
            <mat-hint>At least 6 characters, but longer is better.</mat-hint>
            <mat-error *ngIf="registerForm.controls.password.invalid">
              {{getPasswordErrors()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Confirm Password</mat-label>
            <input matInput
                  type="password"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                  required>
            <mat-error *ngIf="registerForm.controls.confirmPassword.invalid">
              {{getConfirmPasswordErrors()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-label class="mat-label">Phone Number</mat-label>
            <input matInput
                  type="tel"
                  name="phoneNumber"
                  formControlName="phoneNumber">
          </mat-form-field>

          <mat-form-field class="full-width-field"
                      role="group">
            <mat-label class="mat-label">
              Subscription Type
            </mat-label>
            <mat-select
              [formControl]="registerForm.controls.workSpaceType">
              <mat-option
                *ngFor="let subscription of subscriptionTypes"
                [value]="subscription.id">
                {{subscription.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions class="register-footer">
          <button mat-flat-button
                  type="submit"
                  class="btn-orange-large"
                  color = 'primary'>
                  Create Account
          </button>
          <div class="signing-options">
            <div class="signing-option-register">
              Already have an account?
              <a [routerLink]="'/login'"> Login</a>
            </div>
          </div>

          <p class="register-terms">
            By clicking on 'create account' you are accepting our <br> <a href="#">terms of usage</a> and <a href="#">privacy policy</a>.
          </p>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</section>
