.register-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.register-card {
  max-width: 350px;
}

@media screen and (max-width: 600px) {
  .register-card {
    box-shadow: none;
  }
}

.register-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register-header-image {
  background-image: url('/assets/icons/icon-96x96x.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}

.full-width-field {
  width: 100%;
}

.orange-text {
  color: #4b82ff !important;
}

.subtitle {
  font-size: 18px;
}

.mat-card-subtitle {
  color: rgba(0,0,0,0.8);
}

.btn-orange-large {
  width: 90%;
}

.register-footer{
  text-align: center;
}

.register-terms{
  padding-top: 10%;
  color: rgba(0,0,0,.4);
  text-align: center;
}

a {
  text-decoration: none;
}

.register-form {
  padding-top: 30px
}
