
<mat-toolbar class="display-flex">
  <span>Workspace Settings</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close"
          mat-stroked-button (click)="onClose()"
          tabIndex="-1">
          <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<mat-tab-group role="tab">
  <mat-tab label="Settings"
           role="tabpanel">
    <form [formGroup] = 'workspaceService.form'
    (ngSubmit) = 'onSubmit()'>
     <mat-card class="register-card">
       <mat-dialog-content>
         <mat-card-content>

           <mat-form-field class="full-width-field">
             <mat-label class="mat-label">Name</mat-label>
             <input matInput
                   type="text"
                   name="name"
                   formControlName="name"
                   placeholder="Agency or agent's name"
                   required/>
             <mat-hint>
               Your Agency name, or agent's name for individuals
             </mat-hint>
             <mat-error *ngIf="workspaceService.form.controls.name.errors?.required">
               Name is required
             </mat-error>
           </mat-form-field>

           <mat-form-field class="full-width-field margin-right-5">
             <mat-label class="mat-label">Notification Type</mat-label>
             <mat-select
                     formControlName="notificationType"
                     name ="notificationType">
               <mat-option
                 *ngFor="let type of notificationTypes"
                 [value] = "type.id">
                   {{type.name}}
               </mat-option>
             </mat-select>
           </mat-form-field>

           <mat-form-field class="full-width-field"
             *ngIf="workspaceService.form.controls.notificationType.value === 0
             || workspaceService.form.controls.notificationType.value === 2">
             <mat-label class="mat-label">SMS Template</mat-label>
             <textarea matInput
                       name="smsTemplate"
                       formControlName="smsTemplate"
                       placeholder="Enter SMS Template">

             </textarea>
             <mat-hint>
               Enter what you would like policy sms notifications to read like to your clients
             </mat-hint>
           </mat-form-field>

           <mat-form-field class="full-width-field"
           *ngIf="workspaceService.form.controls.notificationType.value === 1
           || workspaceService.form.controls.notificationType.value === 2">
             <mat-label class="mat-label">Email Template</mat-label>
             <textarea matInput
                       name="emailTemplate"
                       formControlName="emailTemplate"
                       placeholder="Enter Email Template">

             </textarea>
           </mat-form-field>


           </mat-card-content>
       </mat-dialog-content>

       <mat-card-actions class="form-actions">
         <button mat-raised-button
                 type="reset"
                 (click)="onClose()"
                 class="btn-form-actions btn-form-actions-cancel">
                 Cancel
         </button>

         <button mat-raised-button
                 type="submit"
                 class="btn-form-actions"
                 color = 'primary'>
                 Save
         </button>
       </mat-card-actions>
     </mat-card>
     </form>
  </mat-tab>
  <mat-tab label="Test Sms"
           role="tabpanel">
    <app-sms-test></app-sms-test>
  </mat-tab>
  <mat-tab label="Test Email"
  role="tabpanel">
    <app-email-test></app-email-test>
  </mat-tab>
</mat-tab-group>


