
<mat-toolbar class="display-flex">
  <span>{{companyService.form.controls['id'].value?"Edit Company":"New Company"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup] = 'companyService.form'
(ngSubmit) = 'onSubmit()'>
<mat-card class="register-card">
  <mat-card-content>
  <mat-error *ngIf="companyService.hasServerError">{{companyService.serverError}}</mat-error>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Company Name</mat-label>
    <input matInput
          type="text"
          name="name"
          formControlName="name"
          placeholder="Enter your company name"
          required/>
    <mat-error *ngIf="companyService.form.controls.name.errors?.required">
      Company name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Contact Person</mat-label>
    <input matInput
          type="text"
          name="contactPerson"
          formControlName="contactPerson"
          placeholder="Enter contact person" />
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Contact Person Phone</mat-label>
    <input matInput
          type="tel"
          name="contactPersonPhone"
          formControlName="contactPersonPhone"
          placeholder="Enter contact person" />
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Email</mat-label>
    <input matInput
          type="email"
          name="email"
          formControlName="email"
          autocomplete="on"/>
    <mat-error *ngIf="companyService.form.controls.email.errors?.email">
      Invalid email
    </mat-error>
  </mat-form-field>

  <app-spinner></app-spinner>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Address</mat-label>
    <input matInput
          type="text"
          name="address"
          formControlName="address"
          placeholder="Enter address" />
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Web Address</mat-label>
    <input matInput
          type="text"
          name="webAddress"
          formControlName="webAddress"
          placeholder="Enter web address" />
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label class="mat-label">Details</mat-label>
    <textarea matInput
              name="details"
              formControlName="details"
              placeholder="Enter details">

    </textarea>
  </mat-form-field>

  </mat-card-content>
  <mat-card-actions class="form-actions">
    <button mat-raised-button
            (click)="onClose()"
            class="btn-form-actions btn-form-actions-cancel">
            Cancel
    </button>

    <button mat-raised-button
            type="submit"
            class="btn-form-actions"
            color = 'primary'>
            Save
    </button>
  </mat-card-actions>
</mat-card>
</form>
