<section class="header">
  <div class="fixed-header-container">
    <div class="promo-header-wrapper">
      <div class="promo-header">
        <span [ngClass]="{'promo-header-text-desktop': (isDesktop | async),
                      'promo-header-text-mobile': !(isDesktop | async)}">
            <a href="/register">
                Powerful policy management system! Try it for free
            </a>
        </span>
    </div>
    </div>
    <div class="menu-wrapper">
      <div class="menu-container">
        <div class="navigation-user-menu">
          <a  [routerLink]="'/support'"
             target="_blank"
             class="navigation-user-menu-item">
              Support
          </a>

          <a  [routerLink]="'/contact'"
             class="navigation-user-menu-item">
              Contact us
          </a>

          <a  [routerLink]="'/login'"
             class="navigation-user-menu-item">
             <mat-icon class="login-icon">power_settings_new</mat-icon>
             <span class="login-text">
              Log in
             </span>
          </a>
        </div>
        <div class="desktop-menu"
            *ngIf="(isDesktop | async)">
          <a [routerLink]="'/'"
              class="company-logo-link">
              <div class="navigation-header-logo">
                  <img src="assets/icons/icon-96x96.png"
                        class="header-logo-icon"
                        alt="Insurance Agent logo" />

                  <span class="header-logo-text">
                      Agency Journal
                  </span>
              </div>
          </a>

          <div class="navigation-header-main">
            <div class="navigation-header-menu"
                 role="navigation"
                 aria-label="Navigation">
                <ul>
                  <li class="navigation-header-menu-item">
                      <a role="menuitem"
                        [routerLink]="'/login'">
                          Products
                      </a>
                  </li>
                  <li class="navigation-header-menu-item">
                      <a role="menuitem"
                        [routerLink]="'/login'">
                          Pricing
                      </a>
                  </li>
                  <li class="navigation-header-menu-item">
                      <a [routerLink]="'/login'"
                        role="menuitem">
                          Blog
                      </a>
                  </li>
                </ul>
            </div>
        </div>

          <a [routerLink]="'/register'"
              title="Get started">
              <span class="navigation-header-call-to-action">
                  Get started
              </span>
          </a>
        </div>
        <div class="mobile-menu"
             *ngIf="!(isDesktop | async)">
          <a [routerLink]="'/'"
            class="company-logo-link mobile-menu-logo">
            <div class="navigation-header-logo">
                <img src="assets/icons/icon-96x96.png"
                      class="header-logo-icon"
                      alt="Insurance Agent logo" />
            </div>
          </a>
          <div class="mobile-navigation-header-menu-container">
              <a [matMenuTriggerFor]="menu"
                 aria-label="button with a menu"
                 title="Show Menu">
                  <span class="navigation-header-menu-button"
                        id="navigation-header-menu-button">
                      Menu
                  </span>
              </a>

              <a [routerLink]="'/register'"
                 title="Get started">
                  <span class="navigation-header-call-to-action">
                      Get started
                  </span>
              </a>

              <mat-menu #menu="matMenu">
                <button mat-menu-item
                        color="warn">
                  <mat-icon>account_box</mat-icon>
                  <span>Get Started</span>
                </button>
                <button mat-menu-item
                        [routerLink]="'/taxCalculator'">
                  <mat-icon>keyboard</mat-icon>
                  <span>Tax Calculator</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Login</span>
                </button>
              </mat-menu>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="menu-margin"></div>
</section>
