.fixed-header-container {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.96);
  top: 0;
}

.promo-header-wrapper {
  background: #4b82ff;
  pointer-events: auto;
  position: relative;
  z-index: 5;
  display: block;
  text-align: center;
}

.promo-header {
  background: #4b82ff;
  pointer-events: auto;
  position: relative;
  z-index: 5;
  display: block;
  text-align: center;
}

.promo-header-text-desktop > a {
  cursor: pointer !important;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 24px;
  font-family: proxima-nova,Avenir,Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 26px;
  display: block;
  padding: 18px;
  margin: 0 !important;
  color: white;
  text-decoration: none;
  transition: transform .2s;
  box-sizing: content-box !important;
}

.promo-header-text-mobile > a {
  cursor: pointer !important;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  font-family: proxima-nova,Avenir,Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 18px;
  display: block;
  padding: 13px;
  margin: 0 !important;
  color: white;
  text-decoration: none;
  transition: transform .2s;
  box-sizing: content-box !important;
}

.promo-header-text-desktop > a:hover {
  font-size: 26px;
}

.menu-wrapper {
  padding-bottom: 15px;
  padding-top: 15px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 92%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.navigation-user-menu {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  overflow: hidden;
  transition: height .2s;
}

.navigation-user-menu-item {
  margin-left: 15px;
  color: #1c4561;
  display: block;
  font-style: normal;
  text-transform: none;
  font-weight: 700 !important;
  font-size: 20px !important;
  font-family: proxima-nova,Avenir,Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 26px;
  text-decoration: none;
  transition: color .2s;
}

.navigation-user-menu-item:hover {
  color: #4b82ff;
}

.login-icon {
  margin-top: 1px;
  font-weight: 700 !important;
}

.login-text {
  vertical-align: top;
}

.header-logo-icon {
  width: 1.7em;
  height: 1.7em;
  transition: transform .2s;
  max-width: 100%;
}

.header-logo-text {
  overflow: hidden;
  display: block;
  height: 1.05em;
  line-height: 1.05em;
  width: 7.2em;
  margin-left: .25em;
  max-width: 240px;
  transition: max-width .2s;
  will-change: max-width;
  color: #4b82ff;
}

.desktop-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.desktop-menu > a {
  text-decoration: none;
}

.navigation-header-logo {
  font-size: 33px;
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  transition: font-size .2s;
}

.navigation-header-main {
  flex-grow: 1;
}

.navigation-header-menu > ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-header-menu-item {
  list-style: none;
  line-height: 1.9;
  position: relative;
  margin: 0;
  margin-left: 30px;
}
.navigation-header-menu-item > a {
  margin-left: 15px;
  color: #1c4561;
  display: block;
  font-style: normal;
  text-transform: none;
  font-weight: 700 !important;
  font-size: 20px !important;
  font-family: proxima-nova,Avenir,Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 26px;
  text-decoration: none;
  transition: color .2s;
  cursor: pointer;
}

.navigation-header-menu-item > a:hover {
  color: #4b82ff;
}

.navigation-header-call-to-action {
  cursor: pointer !important;
  display: block !important;
  padding: 8px 25px !important;
  font: normal normal 600 normal 18px / 22px "Proxima Nova",proxima-nova,"Open sans",open-sans,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  text-align: center !important;
  border: 1px solid rgba(0,0,0,0) !important;
  background: #4b82ff !important;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  margin-left: calc(2vw - 2px);
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.mobile-navigation-header-menu-container {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.mobile-navigation-header-menu-container > a {
  text-decoration: none;
  cursor: pointer;
}

.navigation-header-menu-button {
  display: block !important;
  box-sizing: border-box !important;
  padding: 8px 25px !important;
  font: normal normal 600 normal 18px / 22px "Proxima Nova",proxima-nova,"Open sans",open-sans,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  text-decoration: none solid #4b82ff !important;
  text-transform: none !important;
  text-align: center !important;
  border-radius: 3px !important;
  border: 1px solid #4b82ff !important;
  transition-duration: .15s !important;
  transition-property: transform,box-shadow !important;
  color: #4b82ff !important;
  box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px !important;
  border-radius: 3px !important;
  transform: none !important;
  height: auto !important;
  outline: 0;
  background-color: white;
}

@media screen and (max-width: 334px)
{
  .mobile-menu-logo {
    display: none;
  }
  .mobile-menu {
    justify-content: flex-end;
  }
}

.menu-margin {
  margin-top: 200px;
}


