
<mat-toolbar class="display-flex">
  <span>{{policiesService.form.controls['id'].value?"Edit Policy":"New Policy"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup] = 'policiesService.form'
(ngSubmit) = 'onSubmit()'>
<mat-card class="register-card">
  <mat-dialog-content>
  <mat-card-content>

  <mat-grid-list cols="2" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]= "2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Client</mat-label>
        <mat-select
          formControlName="clientId"
          name ="clientId"
          required>
          <mat-option
            *ngFor="let client of clientsService.dataSource | async"
            [value] = "client.id">
              {{client.clientName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policiesService.form.controls.clientId.errors?.required">
          Client name is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile> -->

    <mat-grid-tile [colspan]= "2">
      <mat-form-field class="full-width-field">
        <mat-label>Client</mat-label>
        <input type="text" matInput formControlName="client" name ="client" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientName">
          <mat-option *ngFor="let client of filteredClients | async" [value]="client">
            {{client.clientName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="policiesService.form.controls.client.errors?.required">
          Client name is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Agent</mat-label>
        <mat-select
          formControlName="agentId"
          name ="agentId"
          required>
          <mat-option
            *ngFor="let agent of agentService.dataSource | async"
            [value] = "agent.id">
              {{agent.fullName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policiesService.form.controls.agentId.errors?.required">
          Agents is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Company</mat-label>
        <mat-select
          formControlName="insuranceCompanyId"
          name ="insuranceCompanyId"
          required>
          <mat-option
            *ngFor="let company of companyService.dataSource | async"
            [value] = "company.id">
              {{company.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policiesService.form.controls.insuranceCompanyId.errors?.required">
          Company is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]= "2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Policy Number</mat-label>
        <input matInput
              type="text"
              name="policyNumber"
              formControlName="policyNumber"
              placeholder="Enter policy number"
              required/>
        <mat-error *ngIf="policiesService.form.controls.policyNumber.errors?.required">
          Policy number is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan] = "2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Product</mat-label>
        <mat-select
          formControlName="productId"
          name ="productId"
          (selectionChange)="onProductChange($event)"
          required>
          <mat-option
            *ngFor="let product of productService.dataSource | async"
            [value] = "product.id">
              {{product.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policiesService.form.controls.productId.errors?.required">
          Product is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-right-5">
        <mat-label class="mat-label">Effective Date</mat-label>
        <input matInput [matDatepicker]="effectiveDateP" formControlName="effectiveDate" name ="effectiveDate">
        <mat-datepicker-toggle matSuffix [for]="effectiveDateP"></mat-datepicker-toggle>
        <mat-datepicker #effectiveDateP disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Expiry Date</mat-label>
        <input matInput [matDatepicker]="expiryDateP" formControlName="expiryDate" name ="expiryDate">
        <mat-datepicker-toggle matSuffix [for]="expiryDateP"></mat-datepicker-toggle>
        <mat-datepicker #expiryDateP disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <div *ngIf="saving">
      <app-spinner></app-spinner>
    </div>

    <mat-grid-tile>
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Commission</mat-label>
        <input matInput
              type="number"
              name="salesCommission"
              formControlName="salesCommission"
              class="right-aligned-input"/>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Duration (in months)</mat-label>
        <input matInput
              type="number"
              name="termLength"
              formControlName="termLength"
              class="right-aligned-input"/>
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan] ="2">
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Insured Summary</mat-label>
        <input matInput
              type="number"
              name="insuredSummary"
              formControlName="insuredSummary"
              class="right-aligned-input"/>
      </mat-form-field>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Premium</mat-label>
        <input matInput
              type="number"
              name="premium"
              formControlName="premium"
              class="right-aligned-input"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Down payment</mat-label>
        <input matInput
              type="number"
              name="advancePayment"
              formControlName="advancePayment"
              class="right-aligned-input"/>
              <!-- <span matPrefix>Kes&nbsp;</span> -->
      </mat-form-field>
    </mat-grid-tile>

    <!-- <mat-grid-tile>
      <mat-form-field class="full-width-field">
        <mat-label class="mat-label">Deductible</mat-label>
        <input matInput
              type="number"
              name="deductible"
              formControlName="deductible"
              class="right-aligned-input"/>
      </mat-form-field>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Payment Method</mat-label>
        <mat-select
                formControlName="paymentMethod"
                name ="paymentMethod">
          <mat-option
            *ngFor="let type of PaymentMethods"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Payment Frequency</mat-label>
        <mat-select
                formControlName="paymentFrequency"
                name ="paymentFrequency">
          <mat-option
            *ngFor="let type of PaymentFrequencies"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan] = "2">
      <mat-form-field class="full-width-field margin-left-5">
        <mat-label class="mat-label">Policy Status</mat-label>
        <mat-select
                formControlName="policyStatus"
                name ="policyStatus">
          <mat-option
            *ngFor="let type of PolicyStatuses"
            [value] = "type.id">
              {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile> -->

  </mat-grid-list>
  </mat-card-content>
</mat-dialog-content>
  <mat-card-actions class="form-actions">
    <button mat-raised-button
            (click)="onClose()"
            class="btn-form-actions btn-form-actions-cancel">
            Cancel
    </button>

    <button mat-raised-button
            type="submit"
            class="btn-form-actions"
            color = 'primary'>
            Save
    </button>
  </mat-card-actions>
</mat-card>
</form>

